{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>
{% endblock %}

{% block content %}
  <div style="background: #d40819; padding: 20px; text-align: center; color: #fff;">
    <h2 style="font-size: 24px; font-weight: bold;">SEE YOU NEXT TIME</h2>
    <p style="font-size: 16px;">Thanks for your quality time on the GEUZA. Log in again to continue.</p>
    <a href="{% url 'admin:index' %}" class="login-again-button">{% trans 'Log in again' %}</a>
  </div>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    .login-again-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #00ff00; /* Green color */
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
      margin-top: 20px;
    }

    .login-again-button:hover {
      background-color: #007700; /* Darker green on hover */
    }
  </style>
{% endblock %}
